*{
   	font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(img/bg2.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;

}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    width: 15%;

}

header  .navbar{
    position: relative;
    display: flex;

}

header  .navbar li{
    list-style: none;

}

header  .navbar li a{
    display: inline-block;
    color: #BB4E26;
    margin-right: 40px;
    letter-spacing: 2px;
    text-decoration: none;
}

header  .navbar li a:hover{
    display: inline-block;
    background-color: #BB4E26;
    color: #fff;
    margin-right: 40px;
    letter-spacing: 2px;
    text-decoration: none;
    padding-left: 10px;
    padding-top:2px;
    padding-bottom: 2px;
    padding-right: 10px;
    border-radius: 15px;
    cursor: pointer;	
}

.content{
    max-width: 600px;

}
.content .contentBx h2{
    font-size: 4em;
    color: #fff;
    line-height: 1em;

}

.content .contentBx p{
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
    
}

.content .contentBx .btn{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:10px;
    padding-bottom:10px;
    color: #fff;
    text-decoration: none;
    background-color: #BB4E26;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: 600;
}

.content .contentBx .btn:hover{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:10px;
    padding-bottom:10px;
    color: #fff;
    text-decoration: none;
    border-color: #BB4E26;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: 400;
}



.btn2{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:8px;
    padding-bottom:8px;
    color: #fff;
    text-decoration: none;
    border-color: #BB4E26;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: 400;
    margin-left: 20px;
}

.btn2:hover{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:8px;
    padding-bottom:8px;
    color: #fff;
    text-decoration: none;
    background-color: #BB4E26;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: 400;
}

.color{
    color: #BB4E26;
}

.icons{
    position: absolute;
    bottom: 30px;
    display: flex;
    color: #BB4E26;
}


.icons li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icons li a{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
    color: #BB4E26;
   
}

.icons li a:hover{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
    color: #fff;
   
}



@media (max-width: 600px) {
        header{
            padding: 15px 40px;
        }
        section{
            padding: 40px;
            background: url(img/bg.jgp);
            background-size: cover;
            background-position: center;
        }
        .content .contentBx h2{
            font-size: 2.5em;
        }

        .content .contentBx a{
            font-size: 1em;
        }
		
        header .navbar{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, .2);
            backdrop-filter: blur(7px);
            z-index: 10;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        header .navbar.active{
            display: flex;
        }

        header .navbar li a{
            font-size: 24px;
            margin: 10px 0;
        }
        
        .btn2{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:8px;
    padding-bottom:8px;
    color: #fff;
    text-decoration: none;
    border-color: #BB4E26;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: 400;
    margin-left: 2px;
}

        .content{
            text-align: center;
            align-items: center;
            max-width: 600px;
            
        
        }
}